/* This file is for your main application css. */

.namePlate {
  text-align: center;
  margin-top: 10%;
  font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
  font-size: 3.5em;
}

.movieList {
  display: flex;
  flex-wrap: wrap;
}

.movie {
  text-align: left;
  padding-top: 0.75em;
  padding-left: 1em;
  padding-right: 1em;
  font-size: 1.75em;
}

.movie a {
  color: black;
}

.navbar {
  text-align: center;
}
