<div class="movieList">
  <%= for movie <- @movies do %>
    <div class="movie"><%= link movie.title, to: page_path(@conn, :show, movie) %></div>
  <% end %>
</div>

<div class="movie"><%= link "New Movie", to: page_path(@conn, :new), class: "btn btn-default" %></div>
