<div class="titleList">
  <%= for title <- @titles do %>
    <div class="title"><%= link title.title, to: page_path(@conn, :show, title) %></div>
  <% end %>
</div>

<%= render "form.html", Map.put(assigns, :action, page_path(@conn, :create)) %>
